/**
 * Display utilities
 */

/*
 * Display the target as an block element.
 */
@mixin u-isBlock() {
	display: block !important;
}
.u-isBlock {
	@include u-isBlock();
}

/*
 * Hide from both screenreaders and browsers: http://www.h5bp.com/u
 */
@mixin u-isHidden() {
	display: none !important;
	visibility: hidden;
}
.u-isHidden {
	@include u-isHidden();
}

/*
 * Hide visually and from screenreaders, but maintain layout.
 */
@mixin u-isInvisible() {
	visibility: hidden;
}
.u-isInvisible {
	@include u-isInvisible();
}

/*
 * Navigational fixes to the html
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%; /* fixes focus scrolling in Safari (OS X) */
    margin: 0;
    padding: 0;

    -webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
    color: #313131;
    font-family: 'Lato', sans-serif;
}
