/**
 * Navigations
 */

/*
 * Throws a list into horizontal mode.
 */
.nav {
	@include u-resetList();

	> li {
		display: inline-block;

		> a {
			display: block;
            color: #fff !important;
			
			@include u-linkReset();
		}
	}
}

/*
 * Throws a list into vertical mode.
 */
.nav--stacked {
	> li {
		display: list-item;
        border-bottom: solid 1px $color-light-gray;
        margin-bottom: 15px;
	}
}

/*
 * Forces a list to occupy 100% of the available width of it's parent.
 */
.nav--fit {
	display: table;
	width: 100%;
	
	> li {
		display: table-cell;
	}
}


/* Navigation Menu - Background */

.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
    ul {
        list-style: none;
        margin-left: 0px;
        padding: 15px;
        li {
            max-width: 200px;
            
        }
    }
  
  /* non-critical appearance styles */
  list-style: none;
  background: $color-brand1;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 250px;
}

.nav-item a {

}

.nav-item a:hover {
  color: #fff!important;
 }

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}


/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }
