/* line 1, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
.cover--picture {
  background-image: url(../imgs/cover-roihu-tilastot.jpg);
  background-size: cover 300;
  background-repeat: no-repeat;
  background-position: top; }

/* line 9, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
.siteHeader {
  height: 100%; }

/* line 13, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
.site--content-divider {
  background-color: #efefef;
  width: 100%; }
  /* line 17, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
  .site--content-divider .visuals {
    max-width: 200px  !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 20px !important;
    display: block !important; }

/* line 27, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
section {
  padding-top: 100px; }
  @media all and (max-width: 599px) {
    /* line 27, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
    section {
      padding: 10px; } }
  /* line 34, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
  section .first {
    color: #fff !important;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25) !important;
    font-weight: 700 !important; }
  /* line 39, /Users/tuulia/Documents/Projec