.site--content-divider {
    background-color: #efefef;
    width: 100%;
    
.visuals {
    max-width: 200px  !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 20px !important;
    display: block !important;
}
    
}

section {
    margin-top: 60px;
    h1 {
        border-bottom: solid 4px #253764;
        color: #253764;
        margin-bottom: 15px;
        font-weight: 700;
    }
    
        h2 {
        margin-top: 25px;
    }
    
        h3 {
        margin-top: 20px;
    }
}