/* line 1, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
.cover--picture {
  background-image: url(../imgs/cover-roihu-tilastot.jpg);
  background-size: cover 300;
  background-repeat: no-repeat;
  background-position: top; }

/* line 9, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
.siteHeader {
  height: 100%; }

/* line 13, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
.site--content-divider {
  background-color: #efefef;
  width: 100%; }
  /* line 17, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
  .site--content-divider .visuals {
    max-width: 200px  !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 20px !important;
    display: block !important; }

/* line 27, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
section {
  padding-top: 100px; }
  @media all and (max-width: 599px) {
    /* line 27, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
    section {
      padding: 10px; } }
  /* line 34, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
  section .first {
    color: #fff !important;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25) !important;
    font-weight: 700 !important; }
  /* line 39, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
  section h1 {
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase; }
  /* line 46, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
  section h2 {
    margin-top: 25px;
    font-weight: 700; }
  /* line 51, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
  section h3 {
    margin-top: 20px;
    font-weight: 700; }
  /* line 56, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
  section h1, section h2, section h3, section h4, section h5, section h6, section p {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.05); }
  /* line 63, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
  section .lead {
    font-size: 1.3em; }
  /* line 67, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
  section .stat--img {
    border: solid 10px rgba(0, 0, 0, 0.08) !important;
    padding: 10px;
    background-color: #fff; }
    @media all and (min-width: 600px) {
      /* line 67, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
      section .stat--img {
        width: auto;
        max-height: 500px; } }
    @media all and (max-width: 599px) {
      /* line 67, /Users/tuulia/Documents/Projects/sp-tilastot-2016/SPTILASTOT2016/assets/css/brandstyle.scss */
      section .stat--img {
        width: 100%; } }

/*# sourceMappingURL=brandstyle.css.map */